body {
  background-image: url("../img/cover.png");
}

h1 {
  text-align: center;
  padding: 10px;
  color: rgb(255, 255, 255);
  font-size: 40px;
  text-align: center;
}
.block {
  max-width: 100%;
  max-height: 100%;
}
.stone {
  max-width: 100%;
  max-height: 100%;
}

.title {
  background-repeat: round;
  background-image: url(../img/title.png);
  width: 400px;
  height: 109px;
  margin: auto;
  margin-top: 50px;
}
.sectitle {
  background-repeat: round;
  background-image: url(../img/sectitle.png);
  width: 287px;
  height: 49px;
  margin: auto;
  margin-top: -18px;
}

.game-div {
    position: relative;
    margin-top: 32px;
    background-color: black;
    width: 414px;
    height: 588px;
    margin: auto;
}
.game-controler {
  background-color: gray;
  position: absolute;
  width: inherit;
  bottom: 0;
}
.timer span {
display: block;
  color: rgb(255, 0, 0);
}

.face {
    margin-left: 172px;
    height: 66px;
    width: 70px;
    margin-top: 18px;
    margin-bottom: -18px;
}
.flag {
  width: 10px;
  height: 10px;
  display: none;
}
.board.bcg-gray {
  background-color: gray;
}

.level {
  text-align: center;
  font-size: 22px;
  color: white;
}

.easy,
.medium,
.hard {
  cursor: pointer;
  font-family: "Arial Black", Gadget, sans-serif;
  padding: 2px;
}

table {
  text-align: center;
  margin: auto;
  margin-top: 30px;
  border-style: none;
}

.board td {
  width: 30px;
  height: 30px;
  text-align: center;
  transition: 0.5s;
  padding: 0;
}
